<h1>Lista de Clientes</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rut</th>
      <th>Direccion</th>
      <th>Fono</th>
      <th>Correo</th>
      <th>Giro</th>
      <th>Formapago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.rut %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.fono %></td>
        <td><%= cliente.correo %></td>
        <td><%= cliente.giro %></td>
        <td><%= cliente.formapago %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Modificar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_cliente_path %>
