<h1>Fichas de Ingreso</h1>

<table  class = "table">
  <thead>
    <tr>
      <th>Numeroficha</th>
      <th>Falla</th>
      <th>Diagnostico</th>
      <th>Total</th>
      <th>Vehiculo</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fichas.each do |ficha| %>
      <tr>
        <td><%= ficha.numeroficha %></td>
        <td><%= ficha.falla %></td>
        <td><%= ficha.diagnostico %></td>
        <td><%= ficha.total %></td>
        <td><%= ficha.vehiculo.modelo %></td>
        <td><%= ficha.cliente.nombre %></td>
        <td><%= link_to 'Mostrar', ficha %></td>
        <td><%= link_to 'Modificar', edit_ficha_path(ficha) %></td>
        <td><%= link_to 'Eliminar', ficha, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Ficha', new_ficha_path %>
